body {
    padding: 0;

    .form {
        margin: 40% auto;
        width: 211px;



        button {
            height: 42px;
            margin: 0 -7px -18px 0;
            max-width: 83px;
            transition-duration: 0.3s;
            width: 100%;
            
        }
    }

}